.container{
    background-image: url("/Urban\ Fashion\ Img/background.png");
    width: 100%;
    height: 113vh;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;

}
.nav1{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width:160px;
    cursor: pointer;
}
.cart{
    width:40px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    margin:0px  20px;
    list-style: none;
}
.content{
    margin-left: 6%;
    padding: 60px;
    margin-top: -50px;
}
 /* visited link */
a:visited {
  color: green;
} 

/* mouse over link */
a:hover {
  color: hotpink;
}


/* selected link */
a:active {
  color: blue;
}
h3{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
}
p{
    font-size: 15px;
    margin-bottom: 50px;
    color: blue;
}
.content .btn{
    
    display: inline-block;
    background: linear-gradient(45deg, #87adef,#ff77cd );
border-radius: 6px;
padding: 10px 20px;
box-sizing: border-box;
color: aliceblue;
text-decoration: none;
}
.nav2{
    text-decoration: none;
}
   
.arrow{
    margin-top: -5%;
     display: flex;
   margin-left: 200px;
   
 
}
 

.arrow img{
    width: 40px;
    margin-right: 20px;
    
}
.image1{
  position:absolute;
  height: 90%;
  right: 160px;
  bottom: 0;

}
.link{
    transform: rotate(-90deg);
    position:absolute;
    bottom: 180px;
    left: -80px;
    

}
.link a{
    padding-right: 20px;
    text-decoration: none;
    color: black;
    text-transform: capitalize;

}




 